uvicorn==0.13.3
fastapi==0.65.2
fastapi-contrib==0.2.9
pydiator-core==1.0.12
pydantic==1.7.4
redis==3.5.3

# test
pytest==8.0.0
requests==2.31.0
coverage==7.4.1
pytest-env==1.1.3
python-dotenv==1.0.1





